.blogs_wrapper{
    display: grid;
    position:relative;
    grid-template-columns: repeat(auto-fit,
    minmax(400px,1fr));
    padding: 40px;
    grid-gap: 40px;
    width: 30%;
    height: 40%;
    place-items: center;
}

.blog_in_list{
    background-color: lightcyan;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: rows;
    overflow: hidden;
    max-width: 400px;
    box-shadow: 
		0 1px 3px rgba(0,0,0,0.12), 
		0 1px 2px rgba(0,0,0,0.24);
}

.blog_in_list:hover{
    transform:scale(1.05);
    box-shadow: 
			0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
}

.blog_in_list:hover .blog_content_container{
    filter: blur(0px);
    -webkit-filter: blur(0px);
    z-index: 100;
    left: -10%;
    background-color: white;
    transition: all 0.7s ease-in-out;
}


.blog_title{
    font-size: max(1.5vw,12px);
    margin-bottom: 10%;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.blog_author{
    font-size: max(1.2vw,10px);
    margin: 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ".."
}

.blog_author{
    font-size: max(1vw,10px);
}

.title_author_container{
    background-color: black;
    color: white;
    flex: 2;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 6%;
    box-sizing: border-box;
    width: 300px;
    border: solid black;
    z-index:2;
    position:relative;
    left:0%;
    top: 0%;
}

.relative_box{
    position: relative;
}

.blog_content_container{
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 100%;
    flex: 1;
    z-index: 1;
    display: flex;
    flex-flow: column;
    width: 200px;
    position: relative;
    transition: all 0.4s ease-in-out;
    left: 0%;
    top: 0%;
}

.blog_content{
    padding: 10%;

    --max-lines: 5;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}
